@font-face {
  font-family: 'Gilroy-Regular';
  src: url('Gilroy-Light.otf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Regular', sans-serif;
  font-style: normal;
}

.opener {
  display: flex;
  width: 100%;
  height: 800px;
  background: #000;
  padding: 0 80px;
}
.opener__wrap {
  display: flex;
  height: 100%;
  align-items: center;
  min-width: 1200px;
  margin: 0 auto;
}
.opener__text {
  width: 55%;
}

.opener__image {
  width: 45%;
  padding: 100px;
}

.opener__logo {
  display: flex;
  align-items: center;
}

.opener__logo__icon {
  width: 33px;
  height: 33px;
  margin-right: 10px;
}

.operer__title {
  font-size: 56px;
  line-height: 142.83%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 32px 0 80px 0;
}

.operner__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  height: 66px;
  background: #ffffff;
  border-radius: 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
}

.support__companies {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  padding: 40px 80px;
}
.support__companies__wrap {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.support__title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #8f8f8f;
  text-align: center;
  padding-bottom: 17px;
}

.companies__list {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mobile {
  display: none;
}

@media (max-width: 800px) {
  .opener__wrap {
    min-width: 343px;
    flex-direction: column;
  }

  .opener {
    height: fit-content;
    padding: 0 28px;
  }
  .opener__logo {
    padding: 80px 0;
    text-align: center;
  }
  .operer__title {
    font-size: 28px;
    line-height: 142.83%;
    text-align: center;
    letter-spacing: 0.4em;
    padding: 0;
  }
  .opener__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .operner__cta {
    display: flex;
  }
  .descktop {
    display: none;
  }
  .opener__image {
    width: 321px;
    height: 321px;
    padding: 0;
    margin: 53px 0 73px 0;
  }

  .operner__cta {
    margin-bottom: 31px;
  }
  .sponsers {
    width: 75px;
    height: 45px;
  }
  .support__companies {
    padding: 16px 6px;
    height: fit-content;
  }
  .companies__list {
    justify-content: center;
  }
}
