@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.ttf');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gilroy-Regular', sans-serif;
  font-style: normal;
}

.pdp__nav {
  top: 0;
  height: 48px;
}

.opener__container {
  display: flex;
  width: 100%;
  height: calc(100vh -48px);
  margin-top: 48px;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.scroll__images {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-height: 976px;
  overflow-y: scroll;
}
.img__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 976px;
}

.product__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  background: #f3f3f5;
}

.engraving__title input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.deliver__title {
  display: flex;
  align-items: center;
  list-style: none;
}

.details__header {
  display: flex;
  align-items: center;
}
.header__title {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  font-family: 'Gilroy-Bold';
}
.detail__price {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-left: auto;
}
.detail__reviews {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  padding: 16px 0 8px 0;
}
.detail__reviews img {
  margin-right: 8px;
}
.review__number {
  margin-left: 16px;
}

.detail__affirm__msg {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  color: #404042;
}
.affirm__icon {
  margin-left: 32px;
}

.detail__text {
  font-size: 16px;
  line-height: 24px;
  color: #404042;
  padding: 8px 0 24px 0;
}
.detail__colors {
  display: flex;
  flex-direction: column;
}

.colors__title {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.colors__title span {
  font-size: 16px;
  font-weight: 600;
  margin-left: 3px;
}

.color__wrap {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

.gold,
.grey,
.black {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.gold {
  background: #997f72;
}
.grey {
  background: #404042;
}
.black {
  background: #111111;
}
.color {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: transparent;
  margin-right: 9px;
  cursor: pointer;
}

.color--active {
  border: 1px solid #c4c4c4;
}

.detail__select__plan {
  display: flex;
  flex-direction: column;
  margin: 16px 0 50px 0;
}
.detail__choices {
  display: flex;
  flex-wrap: wrap;
}
.detail__deliver {
  display: flex;
  align-items: center;
  margin: 16px 0 40px 0;
}
.detail__engraving__wrap {
  display: flex;
  flex-direction: column;
}
.engraving__title {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.engraving__title label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}
.engraving__input {
  max-width: 100%;
  height: 42px;
  border: none;
  outline: none;
  padding: 15px 0 10px 16px;
  margin: 16px 0 8px 0;
}
.engraving__text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.detail__cta {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bebebe;
  width: 100%;
  height: 80px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 47px;
}

.detail__wrap {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

.plan__title {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 8px;
}

.plan__wrap label {
  margin-left: 8px;
}
.plan__wrap {
  margin-bottom: 8px;
}

.plan__input:checked,
.plan__input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.plan__input:checked + label,
.plan__input:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
}

.plan__input:checked + label:before,
.plan__input:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.plan__input:checked + label:after,
.plan__input:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #404042;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.plan__input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.plan__input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.choice__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 164px;
  max-height: fit-content;
  width: 100%;
  padding: 20px 0 10px 0;
  opacity: 0.65;
  margin-right: 16px;
}

.choice__img {
  margin-bottom: 16px;
}

.choice__title {
  padding: 16px 0 12px 0;

  text-align: center;
}

.choice__active {
  opacity: 1;
  border: 1px solid #222222;
}

.title__wrap {
  margin-left: 50px;
}

.select__icon {
  margin-left: 30px;
}

.title__num {
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  padding-right: 5px;
  font-family: 'Gilroy-Bold';
}

.deliver__icon {
  margin-left: 30px;
}

.choice__price {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #404042;
}

.banner__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.item__title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-family: 'Gilroy-Bold';
  color: #ffffff;
}

.item__text {
  font-size: 16px;
  line-height: 24px;
  padding-top: 24px;
  text-align: center;
  color: #ffffff;
}
.order--last {
  order: 4;
}
.grid__item img {
  width: 100%;
  height: 100%;
}

.item--bg--black {
  background-color: #1c1c1e;
  padding: 0 135px;
}
.product__collection {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 120px 80px;
}

.collection__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
}
.product__swatches {
  display: flex;
  align-items: center;
}
.product__swatches img {
  margin-right: 8px;
}
.product__title {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #000000;
  padding: 8px 0;
  font-family: 'Gilroy-Bold';
}

.product__price {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.product__price span {
  color: #bebebe;
}

.product__img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}
.product__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 416px !important;
  margin: 60px 0;
}
.products__wrap {
  max-width: 100%;
  height: fit-content;
}
.language-select {
  position: relative;
  padding-left: 50px;
}

.select__field {
  display: flex;
  font-weight: 00;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.option {
  width: 100%;
  height: fit-content;
  cursor: pointer;
  margin-bottom: 10px;
  border-bottom: 1px solid #d2d2dd;
  padding: 5px;
}

.hidden {
  display: none;
}
.option__content {
  display: flex;
}

.select__options {
  position: absolute;
  top: 35px;
  background: #d2d2dd;
  width: 90%;
}

.mobile__only {
  display: none;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.scroll__image {
  max-width: 80%;
  /* max-height: 100%; */
}

@media (max-width: 800px) {
  .select__options {
    width: 100%;
  }
  .product__wrap {
    width: 168px !important;
    margin: 20px 0;
  }
  .opener__container {
    flex-direction: column;
  }
  .scroll__images {
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }

  .swiper-button-next-2,
  .swiper-button-prev-2 {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 20px;
  }
  .swiper-button-prev-2 {
    left: 20px;
    right: unset;
    transform: rotate(180deg);
  }
  .banner__grid {
    grid-template-columns: 1fr;
  }
  .desctop__only {
    display: none;
  }
  .mobile__only {
    display: block;
  }
  .img__wrap {
    width: 100%;
    min-height: 100%;
    padding: 50px 30px !important;
  }

  .padding {
    padding: 23px 0 32px 0;
  }

  .deliver__title {
    align-items: flex-start;
    flex-direction: column;
  }
  .language-select {
    padding: 0;
  }

  .header__title {
    font-size: 24px;
    line-height: 28px;
  }
  .product__details {
    padding: 11px 16px;
  }
  .detail__wrap {
    width: 100%;
  }
  .choice__wrap {
    width: 164px;
    /* height: 180px; */
    margin: 0;
    padding: 19px 32px 8px 32px;
  }
  .select__icon {
    margin-left: 3px;
  }
  .select__field {
    letter-spacing: 0.4px;
  }
  .scroll__image {
    width: 100%;
  }
  .banner__grid {
    grid-template-columns: 1fr;
  }
  .item--bg--black {
    padding: 0 16px;
  }
  .item__title {
    font-size: 24px;
    line-height: 28px;
  }
  .grid__item {
    width: 100%;
    height: 417px;
    align-items: center;
  }
  .product__collection {
    padding: 0;
    height: fit-content;
  }
  .collection__title {
    font-size: 32px;
    line-height: 40px;
    padding: 40px 16px 18px 16px;
    text-align: center;
    font-family: 'Gilroy-Bold';
  }
}
